include ../mixins/sub_menu.pug

header.header 
    .container 
        .row-align-items-center 
            .col3
                .inner-logo
                    a(href="/")
                        img(src="/images/mango.png", alt="logo")
            .col9

                .inner-menu
                    ul
                        li(class ="sub-menu")
                            - const pathProduct = "/products"
                            a(href="/products") sản phẩm
                            +sub-menu(layoutProductCategory,pathProduct)
                        li 
                            a(href="/") Trang chủ
                        
