extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    h1.mb-4 Cập nhật thông tin cá nhân

    +alert-success(5000)
    +alert-error(5000)

    form(action='/admin/my-account/edit?_method=PATCH', method="POST", enctype="multipart/form-data")
        .form-group
            label(for="fullName") Họ tên *
            input#fullName.form-control(type="text", name="fullName", required, value=user.fullName)
        
        .form-group
            label(for="email") Email *
            input#email.form-control(type="email", name="email", required, value=user.email)
        
        .form-group
            label(for="password") Mật khẩu *
            input#password.form-control(type="password", name="password")
        
        .form-group
            label(for="phone") Số điện thoại *
            input#phone.form-control(type="text", name="phone", value=user.phone)
        
        .form-group
            label(for="avatar") Avatar
            input#avatar.form-control-file(type="file", name="avatar", accept="image/*", upload-image-input)
            img(src=user.avatar, class="image-preview", upload-image-preview)
        
        .form-group
            button.btn.btn-primary(type="submit") Cập nhật
