header.header
    .container-fluid
        .row.align-items-center
            .col-3 
                .inner-logo
                        a(href="/admin/dashboard") Admin    
            .col9
                a.btn.btn-danger.btn-sm(
                    href=`/admin/auth/logout`
                ) Đăng xuất